*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

main{
    margin: 20px;
    padding: 20px;
    max-width: 800px;
}

.profile{
    float: right;
    margin: 15px 10px 10px 5px;
    border-radius: 8%;
    box-shadow: 0 0 20px #333;
    border: 1px solid rgb(0 0 0 /10%);
}

h1{
    color: #333;
}

aside{
    margin: 40px;
    padding: 20px;
    width: 25%;
    background-color: #ddd;
    color: #333;
    border: 1px solid rgb(0 0 0 /0.2);
    text-align: center;
}

aside h2{
    position: absolute;
    left: 150px;
    top: 659px;
}

aside img{
    width: 200px;
    height: auto;
    margin: 10px;
    box-shadow:  0 0 30px #333;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 5px;
}

p{
    padding: 10px;
    margin-top: 10px;
    background-color: #ddd;
}

footer{
    margin-top: 10px;
    border-top: 1px solid #333;
    text-align: center;
}


nav{
    background-color: #333;
    padding: 10px;
}
nav a{
    color: #fff;
    padding: 10px;
    margin: 4px;
    display: block;
    text-decoration: none;
    background-color: rgb(88, 127, 199);
    border-radius: 30px;
}


/*Class Selectors  */

.box{
    border: 1px solid #333;
    padding: 1rem;
    margin: 1rem;
    background-color: bisque;
    color: #333;
}