*{
    margin:0;
    padding:0;
}

body{
    font-family: Arial, sans-serif;
}

main{
    margin: 20px;
    padding: 20px;
    max-width: 800px;
}

h1{
    color: #333;
}

aside{
    margin: 20px;
    padding: 20px;
    width: 25%;
    background-color: #ddd;
    color: #333;
    border: 1px solid rgb(0 0 0 /0.2);
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
    margin: 10px 0;
    box-shadow:  0 0 30px #333;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 5px;
}

p{
    padding: 0;
}

footer{
    margin-top: 10px;
    border-top: 1px solid #333;
    text-align: center;
}


nav{
    background-color: #333;
    padding: 10px;
}
nav a{
    color: #333;
    padding: 5px;
    margin: 4px;
    display: block;
}
